$green: #00cc00;
$red: #cc0000;
body {
  padding-top: 10px;
  font-family: courier;
  font-size: 12px;
}

table {
  margin: 10px 0;
  border-collapse: collapse;
  font-size: 16px;
  td, th {
    font-size: 1em;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    // padding: 2px 4px;
    min-width: 100px;
    vertical-align: center;
    user-select: none;
  }
}

.blankrow {
  td {
    border-width: 1px 0;
  }
}

.hascontrol {
  position: relative;
  height: 37px;
  padding-right: 20px;
  .plusMinusPair {
    position: absolute;
    top: 50%;
    right: 2px;
    margin-top: -16px;
  }
}

.category {
  background-color: $red;
  color: #fff;
  text-align: center;
}

.category--ok {
  background-color: $green;
}

textarea {
  margin: 20px 0;
  width: 100%;
  min-height: 300px;
}

input[type="number"] {
  // width: 40px;
}

a {
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: $red;
  }
}

.day--5,
.day--11 {
  td {
    border-bottom-color: $red;
  }
}


td {
  a {
    padding: 2px 4px;
    width: 100px;
    display: inline-block;
  }
  transition: color 0.5s ease;
}

a.active {
  color: $green;
}

.showcontrols {
  a {
    text-decoration: underline;
  }
}

.selected {
  background-color: #bae9fd;
}

.button--clear {
  position: fixed;
  top: 20px;
  left: 110px;
  width: 70px;
  text-align: center;
}

.controls {
  background-color: #666;
  color: #fff;
  padding: 4px;
  width: 100%;
  font-family: arial;
  font-size: 10px;
  z-index: 999;
  label {
    display: inline-block;
    margin-right: 10px;
  }
  input {
    margin-top: 2px;
    display: block;
  }
}

.button {
  display: inline-block;
  padding: 4px;
  background-color: #eee;
  border-color: #ccc;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
}

.container {
  width: 100%;
  overflow: hidden;
}

.days {
  position: absolute;
  top: 0;
  left: 106px;
  
}

.days__inner {
  width: auto;
  margin: 0 auto;
  background-color: #fff;
  border-color: #ccc;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  a {
    padding: 2px;
    border-color: #ccc;
    border-width: 0 0 0 1px;
    border-style: solid;
    display: inline-block;
  }
}

.refblur {
  color: #ccc;
}

.focus--a {
  color: #ccc;
  .applicant--A {
    color: #000;
  }
}

.focus--ac {
  color: #ccc;
  .applicant--A,
  .partner--A {
    color: #000;
  }
}

.focus--b {
  color: #ccc;
  .applicant--A,
  .applicant--B {
    color: #000;
  }
}

.focus--bc {
  color: #ccc;
  .applicant--A,
  .applicant--B,
  .partner--A,
  .partner--B {
    color: #000;
  }
}